:root {
  --color-white: #fff;
  --color-primarywhite: #ededed;
  --color-secondarywhite: #eee;
  --color-blue: #2196f3;
  --color-focus: #188ce8;
  --color-darkblue: #2f303a;
  --color-black: #212121;
  --color-gray: #757575;
  --color-secondary-gray: #c4c4c4;
  --color-lightgray: #f5f4fa;
  --color-social-icon: #afb1b8;
}

/* priclad .list-item {
  margin-bottom: 12px;
}

.list-item:last-child {
  margin-bottom: 0;
} */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header-menu-one {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-menu-two {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.link-header {
  display: flex;
  align-items: center;
  gap: 10px;
  fill: var(--color-gray);
}

.section {
  padding: 94px 0;
  background-size: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.text-blue {
  color: var(--color-blue);
}

.text-white {
  color: var(--color-white);
}

.site-nav {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: -webkit-min-content;
  padding: 32px 0;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 161px;
  padding: 32px 0;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav:hover,
.site-nav:hover,
.auth-nav:focus,
.site-nav:focus {
  color: var(--color-focus);
  fill: var(--color-focus);
}

a[href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"]
{
  color: var(--color-white);
}

.current {
  color: var(--color-blue);
  position: relative;
  transition-property: after;
}

.current::after {
  display: block;
  background: var(--color-blue);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  transform: translateY(29px);
}

/* Main */

.section-pageone {
  width: 1600px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-secondary-gray);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backround-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 200px 0;
}

.words-in-center {
  text-align: center;
}

.h-one {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0 auto 30px;
  max-width: 696px;
}

.button {
  color: var(--color-white);
  background-color: var(--color-blue);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--color-focus);
}

/* Особливості */

.section-features {
  padding: 94px 0 0;
  background-size: 100%;
}

.features {
  display: flex;
  gap: 30px;
}

.feature {
  max-width: 270px;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--color-lightgray);
  border-radius: 4px;
  margin-bottom: 30px;
}

.h-three-in-pageone {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}

.paragraph {
  color: var(--color-gray);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc(100% / 3);
}

.h-two-options {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0 0 50px;
}

.what-we-do-list {
  position: relative;
}

.what-we-do-box {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  max-width: 370px;
  width: 100%;
  bottom: 0;
}

.what-we-do-sentence {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
  padding: 27px 0;
}

/* Наша команда */

.our-team {
  background-color: var(--color-lightgray);
}

.team-card {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 270px;
}

.elements-under-the-imageone {
  padding: 30px 0;
}

.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* Clients */

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-list {
  width: 170px;
  height: 92px;
}

.client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: var(--color-social-icon);
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon:hover,
.client-icon:focus {
  border-color: var(--color-blue);
  fill: var(--color-blue);
}

/* Portfolio */

.filter {
  background-color: var(--color-lightgray);
  border: none;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-in-portfolio {
  margin: 0 0 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.container-in-pagetwo {
  background: var(--color-white);
  flex-basis: 370px;
  position: relative;
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.link-in-pagetwo:hover .menu-overlay {
  transform: translateY(0);
}

.link-in-pagetwo {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-in-pagetwo:hover,
.link-in-pagetwo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.h-two-in-pagetwo {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px;
}

.paragraph-in-pagetwo {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-block-end: 0;
}

.elements-under-the-imagetwo {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* Footer */

.page-footer {
  background-color: var(--color-darkblue);
  padding: 60px 0;
}

.container-in-footer {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: baseline;
  display: flex;
  gap: 94px;
}

.address-box {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address:focus,
.address:hover {
  color: var(--color-blue);
}

.unique {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {
  margin-bottom: 9px;
}

.footer-list:last-child {
  margin-bottom: 0;
}

/* Socials */

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-white);
  border-radius: 50%;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background: var(--color-blue);
}

.socials-link-our-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  fill: var(--color-social-icon);
  border-radius: 50%;
  transition-property: background, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-our-team:hover,
.socials-link-our-team:focus {
  background: var(--color-blue);
  fill: var(--color-white);
}

.p-in-pagefooter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.send-button {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.subscribe-field {
  display: flex;
  gap: 12px;
}

.subscribe-form-field-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--color-darkblue);
}

.icon-send {
  fill: var(--color-white);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  padding: 40px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  display: block;
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.close-button:hover {
  fill: var(--color-blue);
}

.close {
  display: flex;
  margin: auto;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-field-label {
  color: var(--color-gray);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
}

.form-field-input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-field-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

.form-field-input:focus,
.form-field-textarea:focus {
  border-color: var(--color-blue);
}

.form-field-input:focus + .form-field-icon {
  fill: var(--color-blue);
}

.form-field-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-checkbox {
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
}

.checkbox-input {
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  margin: 3px 7px 0 13px;
  fill: transparent;
  border: 0.2px solid var(--color-black);
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-icon {
  fill: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.checkbox-label {
  position: relative;
  padding-left: 36px;
}

.checkbox {
  appearance: none;
}

.conditions-contract {
  text-decoration: underline;
  color: var(--color-blue);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-submit {
  display: block;
  margin: 0 auto;
}

textarea {
  resize: none;
}
